.main2__container {
  background-color: var(--body-background);
  border-bottom: 0.5px solid var(--subtitle-color);
  color: var(--text-color);
  display: flex;
  font-family: arial;
  height: 80vh;
}
.main2__number-container {
  align-items: center;
  border-right: 0.5px solid var(--subtitle-color);
  display: flex;
  flex-direction: column;
  gap: 70px;
  justify-content: center;
  width: 15vw;
}
.number-container {
  display: flex;
  flex-direction: column;
}
.number-container__number {
  font-weight: 600;
  font-size: 3.1rem;
  line-height: 61px;
}
.number-container__type {
  color: var(--subtitle-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.main2__center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main2__content-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 85vw;
}
.main2__content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3rem;
  width: 450px;
}
.main2__content-text > b {
  color: var(--color-logo);
  text-decoration-line: underline;
}
.main2__content-autor {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
}
.main2__banner {
  background-image: url("../../assets/assets/banner2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
@media screen and (min-width: 320px) and (max-width: 480px){
  .main2__container{
    flex-direction: column;
    height: auto;
    box-sizing: border-box;
  }
  .main2__number-container{
    width: auto;
    flex-direction: row;
    gap: 1.5rem;
  }
  .number-container__type{
    font-size: 1rem;
  }
  .main2__content-container{
    flex-direction: column;
    width: 100vw;
    box-sizing: border-box;
  }
  .main2__content >p{
    width: 90vw;
    word-break: keep-all;
    text-align: justify;
  }
  .main2__banner{
    height: 50vw;
  }
}