<div class="main3__container">
    <div class="main3__container-title">
        <h2 class="main3__title"><b>Populares</b> da semana</h2>
    </div>
    <div class="main3__populares-container">
        <div class="main3__populares">
            <div class="populares-card">
                <div class="populares-card__identification">
                    <span class="populares-card__identification-astronaut">astronauta 1</span>
                </div>
                <div class="populares-card__name">
                    <span class="populares-card__name-astronaut">Mayk Brito</span>
                    <span class="populares-card__name-rkt">1.50 RKT</span>
                </div>
                <img class="populares-card__img" src="../../assets/assets/astronauta 1.png" alt="">
            </div>
            <div class="populares-card">
                <div class="populares-card__identification">
                    <span class="populares-card__identification-astronaut">astronauta 3</span>
                </div>
                <div class="populares-card__name">
                    <span class="populares-card__name-astronaut">João Inácio (Biro)</span>
                    <span class="populares-card__name-rkt">3.75 RKT</span>
                </div>
                <img class="populares-card__img" src="../../assets/assets/astronauta-3.png" alt="">
            </div>
        </div>
        <hr>
        <div class="main3__populares">
            <div class="populares-card">
                <div class="populares-card__identification">
                    <span class="populares-card__identification-astronaut">astronauta 2</span>
                </div>
                <div class="populares-card__name">
                    <span class="populares-card__name-astronaut">Jakeliny Gracielly</span>
                    <span class="populares-card__name-rkt">2.0 RKT</span>
                </div>
                <img class="populares-card__img" src="../../assets/assets/astronauta-2.png" alt="">
            </div>
            <div class="populares-card">
                <div class="populares-card__identification">
                    <span class="populares-card__identification-astronaut">astronauta 4</span>
                </div>
                <div class="populares-card__name">
                    <span class="populares-card__name-astronaut">Tamires Santos</span>
                    <span class="populares-card__name-rkt">4.30 RKT</span>
                </div>
                <img class="populares-card__img" src="../../assets/assets/astronauta-4.png" alt="">
            </div>
        </div>
    </div>
</div>