.melhores-artistas__container {
  align-items: center;
  background-color: var(--body-background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}
.melhores-artistas__titulo {
  color: var(--text-color);
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin: 0;
  margin-bottom: 120px;
  text-align: center;
}
.melhores-artistas__titulo > b {
  color: var(--color-logo);
}
.melhores-artistas__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  margin-bottom: 70px;
  width: 80%;
}
.melhores-artistas__card {
  align-items: center;
  background-color: var(--card-color);
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 25%;
}
.melhores-artistas__card-nome {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
.melhores-artistas__card-qtdFotografias {
  color: var(--color-logo);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.melhores-artitas__verTodos {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.verTodos__container > span {
  margin-right: 2rem;
}
