.banner-main__container {
  align-items: center;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  padding-left: 82px;
  padding-right: 80px;
}
.banner-main__mercadoDigital {
  display: flex;
  flex-direction: column;
  gap: 55px;
  width: 40vw;
}
.banner-main__mercadoDigital-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 400px;
}
.banner-main__artistas-selecionados {
  display: flex;
}
.banner-main__verdadeDigital {
  width: 40vw;
}
.banner-main__verdadeDigital-title {
  font-size: 50px;
  font-weight: 400;
  line-height: 61px;
  letter-spacing: 0em;
  margin: 0;
}
.banner-main__verdadeDigital-title > b {
  color: var(--color-logo);
}
.banner-main__badge {
  width: 20vw;
}
.banner-main__badge-img {
  height: auto;
  width: 70%;
}
