.galery__container{
    align-content: flex-end;
    margin-top: 3rem;
    width: 100%;
}
.galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}