.galery__container{
    margin-top: 3rem;
    width: 100%;
}
.galery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .galery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        gap: .5rem;
    }
    .galery >img{
        width: 100%;
    }
}